.title {
  color: #027ca1;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
}
.title-enter-active {
  animation: task 800ms ease-in alternate-reverse;
}

@keyframes task {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.form {
  text-align: center;
  box-shadow: 2px 2px 7px -1px rgba(158, 158, 158, 0.71);
  border-radius: 8px;
  width: 200px;
  margin: 0 auto 10px;
}

.input_name {
  margin: 10px;
}

.input_number {
  margin: 10px;
}

.submit_btn {
  min-width: 140px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
  background-color: #027ca1;
  color: white;
}
