.search-container {
  text-align: center;
  box-shadow: 2px 2px 7px -1px rgba(158, 158, 158, 0.71);
  border-radius: 4px;
  width: 200px;
  margin: 0 auto 10px;
  padding: 5px 0 5px;
}

.search_info {
  text-align: center;
}

.contact_list {
  padding: 0;
  list-style: none;
  width: 200px;
  margin: 0 auto;
  text-align: right;
}
.contact_item {
  border-radius: 4px;
  box-shadow: 2px 2px 7px -1px rgba(158, 158, 158, 0.71);
  margin-bottom: 10px;
}
.delete_btn {
  margin-left: 5px;
  width: 24px;
  height: 25px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  background-color: #ff335c;
  cursor: pointer;
}
.list__item-enter-active {
  animation: task 800ms ease-in alternate-reverse;
}

.list__item-exit-active {
  animation: back 800ms ease-in;
}

@keyframes task {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes back {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
